<% content_for :title do %>
  <%= @peer_review.name %>-<%= @peer_review.year %>-<%= @peer_review.month.to_s.rjust(2,'0') %>
<% end %>

<div class="print-hide">
<%= link_to 'Print', '#', onclick: 'window.print()' %> |
<%= link_to 'Edit', edit_peer_review_path(@peer_review) %> |
<%= link_to 'Destroy', @peer_review, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', peer_reviews_path %>
<% if @previous_peer_review.present? %>
  | <%= link_to 'Previous Review', @previous_peer_review %>
<% end %>
<% if @next_peer_review.present? %>
  | <%= link_to 'Next Review', @next_peer_review %>
<% end %>
</div>

<div class="show-body">
  <p id="notice"><%= notice %></p>
  <h1><%= @peer_review.name %> - <%= Date::MONTHNAMES[@peer_review.month] %> <%= @peer_review.year %></h1>

  <h2>Overall Distribution</h2>
  <p>This shows how many attributes were rated at each level across all the questions.</p>
  <table class="table overall_table">
    <tr>
      <th class="first_column"></th>
      <th>Count</th>
    </tr>
  <% @averages.each do |level, count| %>
    <tr>
      <td><%= level %></td>
      <td><%= "x" * count %></td>
    </tr>
  <% end %>
  </table>
  <hr/>

  <% i = 0 %>
  <% @counts.each do |header, level_to_count| %>
    <% i += 1 %>
    <%= render partial: 'header', locals: {header: header} %>

    <table class="table details_table">
      <tr>
        <th class="first_column"></th>
        <th>Level</th>
        <th>Improvement</th>
      </tr>
      <% level_to_count.each do |level, count| %>
        <% improvement_hash    = @parser.improvements[header][level] || {} %>
        <% improvement_unknown = improvement_hash['Not Sure'] || 0 %>
        <% improvement_yes     = improvement_hash['Yes'] || 0 %>
        <% improvement_no      = improvement_hash['No'] || 0 %>
        <tr>
          <td><%= level %></td>
          <td><%= 'x' * count %></td>
          <td><%= '+' * improvement_yes %><%= '-' * improvement_no %><%= '?' * improvement_unknown %></td>
        </tr>
      <% end %>
    </table>
    <br/>
    <table class="table summary_table">
      <tr>
        <td class="first_column"><b>Average</b></td>
        <td><%= @parser.average_level(level_to_count)%></td>
      </tr>
      <% if @self_review_counts %>
        <% self_review_value = @self_review_counts[header].select{|k, v| v > 0}.keys.first %>
        <tr>
          <td class="first_column"><b>Self Evaluation</b></td>
          <td><%= self_review_value %></td>
        </tr>
      <% end %>
    </table>

    <% if i % 2 == 0 %>
      <hr class="break"/>
    <% else %>
      <hr/>
    <% end %>
  <% end %>

  <% @text_feedback.each do |header, values| %>
    <h2><%= header %></h2>
    <ul>
    <% values.each do |value| %>
      <li><%= value.html_safe %></li>
    <% end %>
    </ul>
    <hr class="break"/>
  <% end %>
</div>